<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Header</title>
</head>

<body>
    <header class="main-header">
        <nav class="main-header__nav">
            <a class="navbar-brand" href="#">
                <img src="/images/zu_white_logo.png" width="200px" height="100px" alt="">
            </a>
            <ul class="main-header__item-list">
                <li class="main-header__item"><a href="/welcome/home">Home</a></li>
            </ul>
            <ul class="main-header__item-list">
                <li class="main-header__item"><a href="/auth/logout">Logout</a></li>
            </ul>

            <div class="userprofile">
                <h6 class="text-right pt-2">
                    <span class="display-name">
                        <%= displayName %>
                    </span>
                </h6>
                <div class="user-avatar">
                    <span class="user-avatar-initials">US</span>
                </div>
            </div>
        </nav>
    </header>
</body>

</html>